<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Input Page</title>
</head>
<body>
<h1>Input page</h1>
<form action="/binding/simple/text/output" method="post" th:object="${simpleTextForm}">
  <p>name</p>
  <input type="text" th:field="*{name}"/>
  <p>text</p>
  <input type="text" th:field="*{text}"/>
  <br/>
  <input type="submit" value="submit"/>
</form>
</body>
</html>

<!--/*
th:field を使用しないなら以下で書き換え可。

pattern 1
<form action="/binding/simple/input/output" method="post" th:object="${simpleTextForm}">
  <p>name</p>
  <input type="text" name="name" th:value="*{name}"/>
  <p>text</p>
  <input type="text" name="text" th:value="*{text}"/>
  <br/>
  <input type="submit" value="submit"/>
</form>

pattern 2
<form action="/binding/simple/input/output" method="post">
  <p>name</p>
  <input type="text" name="name" th:value="${simpleTextForm.name}"/>
  <p>text</p>
  <input type="text" name="test" th:value="${simpleTextForm.text}"/>
  <br/>
  <input type="submit" value="submit"/>
</form>
*/-->
