<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Input Page</title>
</head>
<body>
<h1>Input page</h1>
<form action="/binding/input/checkbox/category" method="post" th:object="${checkboxCategoryForm}">
  <p>What is your favorite fruit?</p>
  <div>
    <label th:for="${#ids.next('favoriteFruits')}" th:text="apple"></label>
    <input type="checkbox" th:field="*{favoriteFruits}" value="apple"/>
  </div>
  <div>
    <label th:for="${#ids.next('favoriteFruits')}" th:text="banana"></label>
    <input type="checkbox" th:field="*{favoriteFruits}" value="banana"/>
  </div>
  <div>
    <label th:for="${#ids.next('favoriteFruits')}" th:text="mango"></label>
    <input type="checkbox" th:field="*{favoriteFruits}" value="mango"/>
  </div>
  <input type="submit" value="submit"/>
</form>
</body>
</html>

<!--/* TODO th:field を使用せずに hidden のタグを出力しない時の実装
<h1>Input page</h1>
<form action="/binding/input/checkbox/category" method="post" th:object="${checkboxCategoryForm}">
  <p>What is your favorite fruit?</p>
  <div>
    <label th:for="${#ids.next('favoriteFruits')}" th:text="apple"></label>
    <input type="checkbox" id="fruits1" name="favoriteFruits" value="apple"
           th:checked="${checkboxCategoryForm.favoriteFruits.contains('apple')}"/>
  </div>
  <div>
    <label th:for="${#ids.next('favoriteFruits')}" th:text="banana"></label>
    <input type="checkbox" id="fruits2" name="favoriteFruits" value="banana"
           th:checked="${checkboxCategoryForm.favoriteFruits.contains('banana')}"/>
  </div>
  <div>
    <label th:for="${#ids.next('favoriteFruits')}" th:text="mango"></label>
    <input type="checkbox" id="fruits3" name="favoriteFruits" value="mango"
           th:checked="${checkboxCategoryForm.favoriteFruits.contains('mango')}"/>
  </div>
  <input type="submit" value="submit"/>
</form>
*/-->
